* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Yeseva One", cursive;
}

/*===========================================================================
 NAVBAR
=========================================================================== */
/* nav * {
  float: right;
  text-decoration: none;
  list-style: none;
  color: #000000;
} */
/* ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  color: #000000;
} */

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

a,
li {
  list-style: none;
  text-decoration: none;
  color: #000000;
  font-family: "Rubik", sans-serif;
  margin: 1em 0 1em 0;
}

nav a:hover {
  border-bottom: 2px solid #ff8800;
}

nav i:hover {
  color: #ff8800;
  border: none;
}

/*==============================================================================
 HEADER
================================================================================ */

header {
  background: url(img/cuisine1.jpg) no-repeat;
  background-size: cover;
  background-position: top 10% right 20%;
  height: 700px;
}

h1 {
  font-size: 70px;
  font-weight: 300;
  padding-top: 200px;
  padding-left: 100px;
  padding-bottom: 20px;
}

header input {
  height: 60px;
  width: 600px;
  margin-left: 100px;
  border: 1px solid #ff8800;
}

/*========================================================================= 
MAIN
=========================================================================== */
main {
  height: 700px;
  text-align: center;
  background: url(img/cuisine5.jpg) no-repeat left/cover;
  background-position: top;
}

main span {
  font-family: "Rubik", sans-serif;
  text-align: center;
  color: #ff8800;
  padding: 30px 0 0 0;
  margin-top: 20px;
  border-bottom: #ff8800 2px solid;
}

main h2 {
  font-size: 70px;
  padding: 0 0 20px 80px;
  text-align: center;
  margin: 0 auto;
}

main p {
  padding: 0 80px 20px 100px;
  font-size: 25px;
  font-family: "Rubik", sans-serif;
  text-align: center;
  margin: 0 auto;
}
section {
  display: flex;
}

.btn {
  color: #ffffff;
  background: #ff8800;
  border: #ff8800;
  font-family: "Rubik", sans-serif;
  height: 60px;
  width: 150px;
}

/*================================================================================== 
ORDER ONLINE
=================================================================================== */

.meals {
  background: #f2f6f7;
  max-height: 600px;
  text-align: center;
}

.meals a {
  text-decoration: none;
  position: relative;
  top: 20px;

  color: #ff8800;
  font-family: "Rubik", sans-serif;

  margin-top: 40px;
}

.meals h2 {
  font-size: 50px;
  padding: 40px 0 20px 0;
}

.meal-section,
li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.meals li:hover {
  border-bottom: 3px solid #ff8800;
}

.photos {
  display: flex;
  justify-content: space-evenly;
}

.photos img {
  max-height: 250px;
  max-width: 500px;
  /* object-fit: scale-down; */
  padding: 30px 0 0 0;
}

.photos img:hover {
  opacity: 0.7;
}

/*============================================================================= 
HOURS OF OPERATION
=============================================================================== */

.hours {
  text-align: center;
  height: 650px;
  background: #f2f6f7;
}

.hours h2 {
  padding: 50px 0 50px 0;
  font-size: 60px;
  font-weight: 300;
}

.hours i {
  color: #ff8800;
  /* float: right; */
  padding-left: 10px;
}

.phone {
  text-align: center;
  margin: 30px 0 10px 50px;
  font-size: 50px;
  color: #ff8800;
}

.day {
  font-size: 49px;
  font-family: "Rubik", sans-serif;
  padding: 90px 0 20px 0;
  margin: 60px 80px;
}

/*=============================================================================== 
REVIEW
================================================================================== */
.review {
  height: 500px;
}

.review h4 {
  font-size: 50px;
  text-align: center;
  font-weight: 200;
  padding: 30px 0 80px 0;
}

.review img {
  display: flex;
  justify-content: center;
  width: 12%;
  height: 180px;
  border-radius: 50%;
}

.review > span {
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 15px 0 10px 0;
}

.review i {
  color: gold;
}

.review p {
  font-size: 40px;
  font-family: "Rubik", sans-serif;
  text-align: center;

  display: flex;
}

@media screen and (max-width: 821px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }
  .meals {
    flex: 1 1 200px;
  }
}
